*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vs
/Server/This4That-master/This4That-library/obj
/Server/This4That-master/This4That-server/obj
/Server/This4That-master/This4That-serverNode/obj
/Server/This4That-master/packages
/Server/This4That-master/This4That-server/*.user
/Server/This4That-master/This4That-serverNode/*.user
/This4That-server/This4That-platform/obj/Release
/This4That-server/This4That-core/This4That-serverNode/bin/Debug
/This4That-server/This4That-core/This4That-library/obj/Release/TempPE
/This4That-server/This4That-test/obj/Release
*.user
/This4That-server/This4That-core/This4That-library/bin/Debug
/This4That-server/This4That-core/This4That-platform/bin
/This4That-server/This4That-core/This4That-library/obj/Debug
/This4That-server/This4That-core/This4That-platform/obj/Debug
/This4That-server/This4That-test/bin/Debug
/This4That-server/This4That-test/obj/Debug
/This4That-server/This4That-core/This4That-serverNode/obj/Debug
/This4That-server/This4That-test/packages/Newtonsoft.Json.10.0.2/lib
/This4That-server/This4That-test/packages/Newtonsoft.Json.10.0.2/tools
/This4That-server/This4That-test/packages/Newtonsoft.Json.10.0.2/LICENSE.md
/This4That-server/This4That-test/packages/Newtonsoft.Json.10.0.2/Newtonsoft.Json.10.0.2.nupkg
