*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vs
/Server/This4That-master/This4That-library/obj
/Server/This4That-master/This4That-server/obj
/Server/This4That-master/This4That-serverNode/obj
