<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emitter" version="1.0.41" targetFramework="net45" />
  <package id="Emitter.Runtime" version="1.0.0-dev57" targetFramework="net45" />
  <package id="Emitter.Server" version="1.0.0-dev57" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
</packages>